version: '3.2'

services:
  postgres:
    image: postgres:9.6.1-alpine
    environment:
      - POSTGRES_USER=flask
      - POSTGRES_DB=flask
      - POSTGRES_PASSWORD=secret!!!123
  # node:
  #   image: node:9.11-jessie
  #   stdin_open: true
  #   working_dir: /src
  #   volumes:
  #     - type: bind
  #       source: ./
  #       target: /src
  #   command: /bin/sh
  flask:
    image: btquanto/docker-flask-py3:latest
    links:
      - postgres
    ports:
      - 8000:8000
    volumes:
      - type: bind
        source: ./
        target: /src
    entrypoint: ["/bin/bash", "/src/flask.sh"]
  nginx:
    image: nginx:1.13.0-alpine
    ports:
      - 9000:8080
    links:
      - flask
    volumes:
      - ./:/src:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
      - ./nginx/nginx.conf:/etc/nginx/conf.d/nginx.conf:ro
    command: ["nginx", "-g", "daemon off;"]