version: '3.1'

services:
  postgres:
    image: postgres:9.6.1-alpine
    environment:
      POSTGRES_USER: flask_skeleton
      POSTGRES_DB: flask_skeleton
      POSTGRES_PASSWORD: mysecretpassword2
  flask:
    image: btquanto/docker-flask-py3:latest
    environment:
      - UWSGI_CONFIG_FILE=uwsgi_config.ini
    links:
      - postgres
    volumes:
      - ./:/src
    entrypoint: ["/bin/bash", "/src/scripts/flask.sh"]
  nginx:
    image: nginx:1.13.0-alpine
    ports:
      - 8080:8080
      - 8088:8088
    links:
      - flask
    depends_on:
      - flask
    volumes:
      - ./:/src
      - ./scripts/nginx.conf:/etc/nginx/conf.d/nginx.conf:ro

    command: ["nginx", "-g", "daemon off;"]