@import '_input';
@import '_popup';

#root {
    .chat-area {

        border: 2px solid #A12EB3;

        .wc-head {
            background-color: #5bc0de;
            color: #fff;
        }

        .wc-container {
            background-color: #d6f6ff;
            border: 2px solid #00c3ff;
        }
        .chatbox {
            .cb-messages {
                height: 360px;
                padding: 15px;

                .cbm {
                    margin-bottom: 5px;

                    .cbm-item {
                        padding: 15px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 5px;
                        position: relative;
                        border: 1px solid #C5C5C5;
                    }
                    .cbm-item:after {
                        top: 100%;
                        border: solid transparent;
                        content: " ";
                        position: absolute;
                        border-top-color: #C5C5C5;
                        border-width: 15px;
                        margin-left: -15px;
                    }
                    .cbm-item-right {
                        background-color: #d9edf7;
                    }
                    .cbm-item-left {
                        background-color: #fcf8e3;
                    }
                    .cbm-item.cbm-item-right:after {
                        right: 60px;
                    }

                    .cbm-item.cbm-item-left:after {
                        left: 60px;
                    }

                    .cbm-name {
                        color: #354EA0;
                        margin-top: 20px;
                    }
                    .cbm-name.cbm-name-right {
                        margin-right: 60px;
                        text-align: right;
                    }
                    .cbm-name.cbm-name-left {
                        margin-left: 40px;
                        text-align: left;
                    }
                }
            }

            .cb-input {
                padding: 10px;
                background-color: #D8D8D8;
            }
        }
    }

    .online-users {
        border: 2px solid #A12EB3;

        .cbul-head {
            padding: 10px 15px;
            border-bottom: 2px solid #00c3ff;
            background-color: #5bc0de;
            color: #fff;
        }

        .cbul-body {
            padding: 15px;
        }
    }
}

.no-padding {
    padding: 0!important;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.overflow-y-scroll-auto {
    overflow-y: scroll/auto;
}