<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>WebRTC Demo</title>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/favicon.png" />
    <link rel="shortcut icon" sizes="192x192" href="/static/images/favicon.jpg" />
    <link rel="stylesheet" href="/nodes/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/assets/rtc/css/rtc.min.css" />

    <script type="text/javascript" src="/nodes/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <div id='root'></div>
    <script type="text/javascript" src="/static/js/webrtc-adapter.js"></script>
    <script type="text/javascript" src="/static/assets/rtc/js/rtc.min.js" charset="utf-8"></script>
</body>

</html>