<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <title>ElasticSearch Ingest Attachment Plugin Example</title>
  <style>
    mark, em {
      background: yellow;
    }
  </style>
</head>
<body>
<div class="container" style="padding: 15px">
  <div class="row">
    <p class="col-md-8">
      <input id='keyword' type="search" class="form-control" />
    </p>
   
      <div class="col-md-2 dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="select" data-toggle="dropdown">Select your Index
        <span class="caret"></span></button>
        <ul id="demolist" class="dropdown-menu">
        </ul>
      </div>
   
    <p class="col-md-1">
      <button id="filter" class="btn btn-default btn-block" >Filter</button>
    </p>
    <p class="col-md-1">
      <button class="btn btn-block" >Clear</button>
    </p>
  </div>

  <ul id="hits" class="list-group">
    <li class="list-group-item">
      <div class="media">
        <div class="media-body">
          <i data-bind="css: icon"></i>
          <strong data-bind="text: filename"></strong>
        </div>
        <div class="media-right" data-bind="if: _score > 0">
          Score:<strong data-bind="text: _score"></strong>
        </div>
        <div class="media-right">
          <a class="text-danger" href="#" data-bind="click: $root.delete" title="delete"><span class="fa fa-remove"></span></a>
        </div>
      </div>
      <div data-bind="if: hasHighlights">
        <ol data-bind="foreach: highlight['attachment.content']">
          <li data-bind="html: $data"></li>
        </ol>
      </div>
    </li>
  </ul>
</div>

<script type="text/javascript" src="/static/js/{{ request.blueprint }}.bundle.js" charset="utf-8"></script>
</body>
</html>


